@media(max-width:1400px){
    .fix-widht {
        width: 100%;
        height: auto;
        margin: auto;
    }
}

@media(max-width:1200px){
    .fix-widht {
        width: 100%;
        height: auto;
        margin: auto;
    }
    .header-left {
        width: 30%;
        
    }
    .header-right {
       
        width: 70%;
    }
    .banner {  
        padding: 180px;
        height: 100px;
    }
}
@media(max-width:992px){
    .fix-widht {
        width: 100%;
        height: auto;
        margin: auto;
    }
    .header-left {
        width: 30%; 
    }
    .header-right {
        width: 70%;
    }
    .banner {
        padding: 32px;
        height: 300px;
    }
    .banner h1 {
        padding-top: 69px;
    }
    .surb .div1 {
        width: 218px;
    }
    .surb {
        margin-left: 28px;
    }
    .img {
        
        width: 40%;
    }
    .contact2 {
        width: 55%;
        
    }
}
@media(max-width: 768px){
    
    .header-left {
        width: 100%;
        text-align: center;
        
    }
    .header-right {
        text-align: center;
        width: 100%;
       
    }
    .header-right ul {
        list-style: none;
        text-align: center;
    }
    .surb {
        margin-left:;
    }
    .surb .div1 {
       
    }
}

@media(max-width:576px){
    .fix-widht {
        width: 100%;
        height: auto;
        margin: auto;
    }
    .header-left {
        float: none;
        width: 100%;
        text-align: center;
        
    }
    .header-right {
        text-align: center;
        width: 100%;
        float: none;
    }
}

/* @media(max-width:376px){
    .fix-widht {
        width: 300px;
        height: auto;
        margin: auto;
    }
    .header-left {
        width: 100%;
        text-align: center;
        
    }
    .header-right {
        text-align: center;
        width: 100%;
    }
    .header-right ul {
        text-align: center;
    }
    .banner-content {
        width: 222px;
       
    }
} */
